body {
    font-size: 0.95em;
    background-color:#f8f9fa;
}
p, h1,h2,h3,h4,h5,h6 {
    margin:0;
}
a{
    color: #6f7074;
}
svg {
    margin-right: 0.5em;
}
a:hover{
    text-decoration: none;
    color: #6f7074;
}
.section {
    margin-bottom: 2em;
}
.widget-content {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    background-color: #fff;
    line-height: 1.8em;
    margin-bottom: 1em;
}
.widget-content .widget-body {
    padding: 1em;
}
.no-padding {
    padding: 0;
}
.widget-content .widget-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.widget-content .widget-header .widget-text-header {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.8em 1em;
}
.posts .post .card {
    margin-bottom:2em;
    min-height: 24.2em;
    display: block;
}
.posts .post .card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 0 rgba(32, 32, 32, 0.15);
    transition: all 0.3s ease;
}
.posts .post .card .card-img-top {
    padding:0.1em;
    vertical-align: middle;
    width: 100%;
    border-radius: .25rem;
    min-height: 14em;
}
.posts .post .card .author {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.posts .post .card .card-body {
    padding:1em;
}
.posts .post .card .card-body .card-title {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0;
}
.posts .post .card-footer {
    background-color:transparent;
    font-size: 0.85em;
    padding: 1em;
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.posts .post .card-footer span {
    margin-left: 0.3em;
}
/*@media (min-width: 1350px) {*/
/*    .container{*/
/*        max-width: 1320px;*/
/*    }*/
/*}*/

@media (min-width: 992px) {
    .main-container {
        max-width: 70%;
        flex: 0 0 70%;
        padding-right:0;
    }
    .sidebar-container {
        max-width: 30%;
        flex: 0 0 30%;
    }
}
