body {
    font-size: 0.95em;
    background-color:#f8f9fa;
}
p, h1,h2,h3,h4,h5,h6 {
    margin:0;
}
a{
    color: #6f7074;
}
svg {
    margin-right: 0.5em;
}
a:hover{
    text-decoration: none;
    color: #6f7074;
}
.section {
    margin-bottom: 2em;
}
.widget-content {
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    background-color: #fff;
    line-height: 2em;
    margin-bottom: 1em;
}
.no-padding {
    padding: 0;
}
.widget-content .widget-header {
    margin-bottom: 1em;
}
.widget-content .widget-header .widget-text-header {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}
.sidebar-container .sidebar-widget .widget-body .list-group li a:hover{
    color: #2c3e50;
}

.posts .post .card {
    margin-bottom:2em;
    min-height: 24.2em;
    display: block;
}
.posts .post .card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 0 rgba(32, 32, 32, 0.15);
    transition: all 0.3s ease;
}
.posts .post .card .card-img-top {
    padding:0.1em;
    vertical-align: middle;
    width: 100%;
    border-radius: .25rem;
    min-height: 14em;
}
.posts .post .card .author {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.posts .post .card .card-body {
    padding:1em;
}
.posts .post .card .card-body .card-title {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0;
}
.posts .post .card-footer {
    background-color:transparent;
    font-size: 0.85em;
    padding: 1em;
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.posts .post .card-footer span {
    margin-left: 0.3em;
}

.sidebar-container .sidebar-widget .media img {
    width: 5.5em;
    height: 5.5em;
}
.sidebar-container .sidebar-widget .media .post-title {
    line-height: 1.5em;
    font-size: 1.05em;
    margin-top: -0.4em;
}
.sidebar-container .sidebar-widget .media {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 1em 0;
}
.sidebar-container .sidebar-widget .media:first-child {
    padding-top: 0;
}
.sidebar-container .sidebar-widget .media:last-child {
    border: 0;
    padding-bottom: 0;
}
.sidebar-container .sidebar-widget .nav-tabs {
    border-bottom: 0;
}
.sidebar-container .sidebar-widget .nav-tabs li {
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border-right: 0;
    display: flex;
}
.sidebar-container .sidebar-widget .nav-tabs li a.active {
    background-color: rgba(77, 220, 249, 0.3);
}
.sidebar-container .sidebar-widget .nav-tabs li:last-child {
    border-right: 1px solid rgba(0,0,0,.125);
}
.sidebar-container .sidebar-widget .nav-tabs li a {
    display: inline-block;
    padding: 0.2em 0.95em;
    font-size: 0.83em;
    font-weight: bold;
    text-transform: uppercase;
}
/*@media (min-width: 1350px) {*/
/*    .container{*/
/*        max-width: 1320px;*/
/*    }*/
/*}*/

@media (min-width: 992px) {
    .main-container {
        max-width: 70%;
        flex: 0 0 70%;
        padding-right:0;
    }
    .sidebar-container {
        max-width: 30%;
        flex: 0 0 30%;
    }
}
