.widget-banner a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.widget-banner .widget-body {
    padding: 0.3em;
}
.widget-banner .widget-body .inner-content a img {
    vertical-align: middle;
}
