.home .jumbotron {
    padding: 5em;
    box-sizing: border-box;
    line-height: 3em;
    margin-bottom: 1em;
    margin-top: -1em;
}
.home .jumbotron .text-header {
}
.home .jumbotron .slogan {
    font-style: italic;
}
.home .jumbotron .search-form-home {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home .jumbotron .search-form-home .text-search {
    width: 30em;
    padding-right: 2.5em;
}
.home .jumbotron .search-form-home .btn-search {
    position: absolute;
    right: 0;
    background-color: transparent;
    color: #000;
}
.home .jumbotron .search-form-home .btn-search svg {
    margin-right: 0;
}
